#map
{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom: 0px;
}

img.leaflet-tile {
    /* work-around from here: https://github.com/CloudMade/Leaflet/issues/161 */
    outline: 1px solid transparent;
}

.map-custom-controls
{
	position: absolute;
	z-index: 9999;
	right:0px;
	top:0px;
	width:10em;
}